<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Travel Experience</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="Search your destination" animated="true"
    style="--background: #eee; --color: #000; border-radius: 20px; margin: 10px;">
  </ion-searchbar>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let article of articles">
        <app-article
          [title]="article.title"
          [content]="article.content"
          [image]="article.image">
        </app-article>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
